<div style="background-color:white;color:black;">
    <h5 style="text-align:left;"><strong data-dojo-attach-point="txt1">Danh sách phương án đã gửi </strong></h5>
    <table data-dojo-attach-point="tblphuongan" border="1" style="width:175mm;table-layout:fixed;font-size:8pt" cellpadding="10" cellspacing="0" >
        <thead>
            <tr>
                <th  class="sortTram" style="width:3mm;text-align:center"><strong>STT</strong><span></span></th>
                <th  class="sortTram" style="width:8mm;text-align:center"><strong>Tên sự cố</strong><span></span></th>
                <th  class="sortTram" style="width:8mm;text-align:center"><strong>Phương án đề xuất</strong><span></span></th>
                <th  class="sortTram" style="width:5mm;text-align:center"><strong>Đơn vị nhận</strong><span></span></th>
                <th   class="sortTram" style="width:8mm;text-align:center"><strong>Phương án phản hồi</strong><span></span></th>
                <th class="sortTram" style="width:4mm;text-align:center"><strong>Trạng thái phản hồi</strong><span></span></th>
            </tr>
        </thead>
        <tbody data-dojo-attach-point="tblchitietphuongan"></tbody>
    </table>
    </div>
